@charset "utf-8";

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #3e3e3eed;
    border-radius: 25px;
    height: 20%;
}

body::-webkit-scrollbar-track {
    background: #00000000;
}

header {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    color: #FFFF;
    background: #a87ec6;
}

header h1 {
    margin: 0px;
    border: 0px;
    padding: 20px 0px 0px 20px;  
}

header span {
    margin: 0px;
    border: 0px;
    display: block;
    padding: 4px 0px 20px 20px;
    font-size: 1.2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
    text-align: center;
}


nav li {
    float: left;
    font-family: 'Segoe MDL2 Assets', "Segoe UI", "DejaVu Sans", "Tebuchet MS", Verdana, sans-serif;
    font-size: 1.2em;
    line-height: 50px;
    height: 50px;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 200px;
}

nav a:hover, a:active {
    background-color: #ac9ab9;
}

footer {
    text-align: center;
    padding: 10px;
}

#TituloImagen {
    margin-left: 20px;
}

.contenidoPrincipal {
    padding-inline: 50px;
    text-align: justify;
}
